* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}

.navbar {
  height: 80px;
  background-color: transparent;
  z-index: 10;
  animation: nav 0.3s ease-in;
}
@keyframes nav {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}
.navbar .navbar-brand {
  color: #fff;
  letter-spacing: 5px;
  font-size: 15px;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  transition: all 0.3s ease-out;
}
.navbar .navbar-brand:hover {
  color: #94c2fa;
}
.navbar button {
  position: absolute;
  right: 5%;
  width: 200px;
  background-color: rgba(27, 47, 70, 0.4235294118);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border: 1px solid #fff;
}
.navbar button:hover {
  background-color: #94c2fa;
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 768px) {
  .navbar button {
    right: 20px;
  }
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
.image img {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: contrast(80%);
}
.image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b2f46;
  opacity: 0.5;
}
.image .content {
  width: 40%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border-radius: 0;
  position: absolute;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  animation: content 0.3s ease-in;
}
@keyframes content {
  from {
    left: -40%;
  }
  to {
    left: 0;
  }
}
@media (max-width: 767px) {
  .image .content {
    width: 80%;
    height: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.image .content .logo {
  z-index: 1;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6862745098);
}
.image .content p {
  width: 90%;
  color: #fff;
  padding: 1rem;
  letter-spacing: 2px;
  text-align: justify;
  font-size: 12px;
}
@media (max-width: 767px) {
  .image .content p {
    width: 100%;
    font-size: 10px;
  }
}

.carousel {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 100%;
  right: 5%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: caro 0.5s ease-in;
}
@keyframes caro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .carousel {
    display: none;
  }
}
.carousel .carousel-inner {
  height: 50%;
  width: 80%;
  border-radius: 20px;
  border: 2px solid #fff;
}
.carousel .carousel-inner .carousel-item {
  height: 100%;
  background-color: #000;
}
.carousel .carousel-inner .carousel-item img {
  opacity: 0.8;
  object-fit: cover;
  height: 100%;
}
.carousel .carousel-inner .carousel-item .overlay-image {
  height: 50%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 5;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}

.modal .modal-dialog .modal-content {
  background-color: #fff;
}
.modal .modal-dialog .modal-content .modal-header {
  background-color: #94c2fa;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
.modal .modal-dialog .modal-content .modal-header button {
  color: #1b2f46;
  background-color: #94c2fa;
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal .modal-dialog .modal-content .modal-body form input,
.modal .modal-dialog .modal-content .modal-body form select {
  background-color: rgba(148, 194, 250, 0.2196078431);
  color: #1b2f46;
  letter-spacing: 1px;
  font-size: 12px;
  height: 40px;
  border: 1px solid #1b2f46;
  border-radius: 0;
  text-transform: capitalize;
}
.modal .modal-dialog .modal-content .modal-body form label {
  color: #1b2f46;
  letter-spacing: 1px;
  font-size: 12px;
}
.modal .modal-dialog .modal-content .modal-footer {
  background-color: #94c2fa;
}
.modal .modal-dialog .modal-content .modal-footer .btn-secondary {
  background-color: #1b2f46;
  border: none;
}
.modal .modal-dialog .modal-content .modal-footer .btn-secondary:hover {
  background-color: rgba(27, 47, 70, 0.5215686275);
  color: #fff;
}
.modal .modal-dialog .modal-content .modal-footer .btn-primary {
  background-color: #94c2fa;
  border: 1px solid #1b2f46;
  color: #1b2f46;
}
.modal .modal-dialog .modal-content .modal-footer .btn-primary:hover {
  background-color: rgba(27, 47, 70, 0.5215686275);
  color: #fff;
}